<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../public/images/logo-mercado-liebre.svg">
        <div> Lugar para poner la barra de búsqueda </div>
        <br>
        <div>Comprá en cuotas y sin tarjeta de crédito </div>
        <ul>
            <li><a href="#" target="_blank"> Ofertas </a></li>
            <li><a href="#" target="_blank"> Tiendas Oficiales </a></li>
            <li><a href="#" target="_blank"> Vender </a></li>
            <li><a href="#" target="_blank"> Ayuda </a></li>
        </ul>
        <ul>
            <li><a href="#" target="_blank"> Creá tu cuenta </a></li>
            <li><a href="#" target="_blank"> Ingresá </a></li>
            <li><a href="#" target="_blank"> Mis compras </a></li>
        </ul>
    </header>

    <main>
    <section>
        <div><strong> Basado en tu última visita </strong></div>
        <div><img src="../public/images/img-cafetera-moulinex.jpg" width="200"><br>
            $6.770<br>
            40% OFF<br>
            <strong>Cafetera Moulinex</strong>
        </div>
        <br>
        <div><img src="../public/images/img-macbook-pro-2019.jpg" width="200"><br>
            $230.000<br>
            20% OFF<br>
            <strong>MacBook Pro 2019</strong>
        </div>
        <br>
        <div><img src="../public/images/img-samsung-galaxy-s10.jpg" width="200"><br>
            $70.500<br>
            10% OFF<br>
            <strong>Samsung Galaxy S10</strong>
        </div>
        <br>
        <div><img src="../public/images/img-tv-samsung-smart.jpg"><br>
            $23.200<br>
            5% OFF<br>
            <strong>SmartTv Samsung 43"</strong>
        </div>
    </section>
    </main>
    <br>
    <footer>
        <section>
            <div><strong> Pagá con tarjeta o en efectivo </strong></div>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div><strong> Envío gratis desde $ 2.500 </strong></div>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div><strong> Seguridad, de principio a fin </strong></div>
            <p>Seguridad, de principio a fin ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <div><strong> Copyright © 1999-2020 MercadoLiebre S.R.L. </strong></div>
        </section>
    </footer>
</body>
</html>