<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Rocío Spina</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
rel="stylesheet" />
    <style>body{font-family: 'Roboto'}</style>
</head>
<body>
    <header>
        <div class="logo-search">
            <img class="logo" src="/images/logo-mercado-liebre.svg">
            <input  id="search" type="search" placeholder="Buscar productos, marcas">
            <i class="fas fa-search" id="lupa"></i>
        </div>
        <p class="compras">
            <i class="fas fa-hand-holding-usd" ></i>
            Comprá en cuotas y sin tarjeta de crédito
        </p>
        <ul class="opciones">
            <li><a href="#" target="_blank"> Ofertas </a></li>
            <li><a href="#" target="_blank"> Tiendas Oficiales </a></li>
            <li><a href="#" target="_blank"> Vender </a></li>
            <li><a href="#" target="_blank"> Ayuda </a></li>
        </ul>
        <ul class="mi-cuenta">
            <li><a href="/register" target="_blank"> Creá tu cuenta </a><i class="far fa-id-card"></i></li>
            <li><a href="/login" target="_blank"> Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#" target="_blank"> Mis compras </a><i class="fas fa-shopping-basket"></i></li>
        </ul>
       <p class="centrar"><a class="burger burger-menu">
            <i class="fas fa-bars"></i>
        </a></p>
    </header>
    <form action="/" method="get">
        <div><input type="text" name="nombreDeUsuario" placeholder="Nombre de usuario"></div>
        <div><input type="password" name="contraseña" placeholder="Contraseña"></div>
        <a href="/home.html"><button type="submit" class="enviar">Ingresar</button></a>
    </form>
    <footer class="centrar">
        <section>
            <p class="iconos"><i class="fas fa-credit-card"></i></p>
            <div><strong> Pagá con tarjeta o en efectivo </strong></div>
            <p class="textos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <p class="iconos"><i class="fas fa-gift"></i></p>
            <div><strong> Envío gratis desde $ 2.500 </strong></div>
            <p class="textos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <p class="iconos"><i class="fas fa-user-shield"></i></p>
            <div><strong> Seguridad, de principio a fin </strong></div>
            <p class="textos">Seguridad, de principio a fin ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <br>
        <div id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
    </footer>
</body>
</html>