/* General */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
    margin: 0%;
}
.centrar{
    text-align: center;
    align-self: center;
    font-size: 0.6em;
}
/* Header */
header{
    background-color: #EAC926;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
}
input{
    align-self: center;
    flex-grow: 0.5;
}
ul{
    display: flex;
}
ul li{
    list-style-type: none;
    font-size: 0.4rem;
}
ul li a{
    text-decoration: none;
    color: #000;
    padding-left: 1em;
}
.logo-search{
    display: flex;
    justify-content: space-between;
}
.logo{
    flex-grow: 0.5;
    width: 50%;
    height: 100%;
    align-self: center;
}
.compras{
    text-align: center;
    align-self: center;
    margin-top: 10px;
    font-size: 0.5rem;
}
.opciones{
    width: 50%;
    height: 20px;
    justify-content: flex-start;
    align-items: end;
}
.mi-cuenta{
    width: 50%;
    height: 20px;
    justify-content: flex-end;
    align-items: end;
}
.burger{
    text-decoration:none;
    font-size:1.2em;
    color:#ffffff;
    padding: 0.4em 0.6em;
    background-color:#1259c3;
    border-radius: 0.2em;
}
#lupa{
    text-decoration:none;
    font-size:15px;
    color:#666;
    padding-top:8px;
    padding-bottom:9px;
    padding-left:1px;
    padding-right:1px;
    background-color:#ebebeb;
    border-radius: 2px;
    align-self: center;
}
#search{
    border: none;
    padding-top:9px;
    padding-bottom:9px;
    padding-left:5px;
    background-color:#ebebeb;
    width: 50%; 
    border-radius: 2px;
}
/* Main */
main{
    margin: 0;
    background-color: #e3e3e3;
    text-align: center;
    align-self: center;
    height: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
}
form input{
    width: 60%;
    border: none;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.6em;
}
.boton{
    font-size: 0.6em;
    padding: 0.4em;
    width: 60%;
    border: rgb(141, 141, 141) solid 0.1px;
    margin: 10px;
    border-radius: 4px;
    background-color: #0330e4;
    color: white;
}
.boton:hover{
    background-color: #0022AA;
    border: #0022AA solid 0.1px;
    border-radius: 4px;
    color: white;
    font-size: 0.6em;
    padding: 0.4em;
}
/* Footer */
footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.iconos{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 0.1em;
    margin-top: 0.3em;
}
.iconos:hover{
    color: #0d408d;
}
.textos{
    margin-top: 0;
    font-size: 0.75em;
    justify-content: center;
}
#copyright{
    font-size: 0.3em;
    text-align: left;
}
/* Media queries */
@media (max-width: 361px){
    ul{
        display: none;
    }
}

@media (min-width: 361px){
    header{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 75px;
    }
    ul{
        flex-direction: row;
    }
    .logo-search{
        width: 60%;
        height: 50%;
        box-sizing: border-box;
    }
    .compras{
        text-align: center;
        width: 40%;
        height: 50%;
    }
    .burger{
        display: none;
    }
    section{
        font-size: 150%;
    }
    #copyright{
        font-size: 0.9em;
    }
}

@media (min-width: 769px){
    .compras{
        font-size: 0.6rem;
    }
    ul li{
        font-size: 0.6rem;
    }
    footer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section{
        font-size: 200%;
        width: 33%;
    }
    form input{
        width: 50%;
    }
    .boton{
        width: 50%;
    }
    #copyright{
        font-size: 1.2em;
    }
}